.navbar {
  background-color: var(--white);
  box-shadow: var(--shadow);
  height: 70px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--primary-color);
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-weight: 500;
  color: var(--text-color);
}

.nav-link:hover {
  color: var(--primary-color);
}

.navbar-auth {
  display: flex;
  gap: 1rem;
}